<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cadastro</title>
</head>
<body>
  <form action="/cadastro" method="post">
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo">
    <label for="descricao">Descrição</label>
    <input type="text" name="descricao" id="descricao">
    <label for="preco">Preço</label>
    <input type="text" name="preco" id="preco">
    <label for="imagem">Imagem</label>
    <input type="text" name="imagem" id="imagem">
    
    

    <button type="submit">Logar</button>
  </form>
</body>
</html>